.list-item {
  margin: 10px;
}
.button {
  background-color: transparent;
  border-width: 0px;
}
.button1 {
  background-color: transparent;
  border-width: 0px;
  text-decoration: underline;
  color: blue;
}
